.searchIcon {
	width: 16px;
	height: 16px;
	padding: 8px;
	vertical-align:middle;
}
.searchIcon:hover {
    background-color: #e0e0e0;
}
#hover_div, #hover_div_bubble, #hover_div_bubble A,  #hover_div_bubble IMG {
	box-sizing: content-box;
	display:inline-block;
}
#hover_div_bubble {
	box-shadow: 2px 2px 4px rgba(0,0,0,.7);
}
