:root { 
	--background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(120,120,255,1) 35%, rgba(0,212,255,1) 100%); 
	--tools-color: #ddd; 
	color: white;
	--border: rgba(255,255,255,.2);
	--hover: rgba(2,0,36,.2);
	--separator: #fff4;
	--folder-color:#fff3;
	--folder-label-color: white;
	--folder-label-color-singlecolumn: white;
	--group-label-color: #fff;
}

.tile {
    border-radius:10px;
    margin:4px;
    background-color:#fff3
}

#toolBar .tile {
	transform:scale(.75);
	margin:2px;
	background-color:#0003;
}

#searchBar {
	background: #0005;
	color:white;
}
#searchBar:focus {
	border:1px solid transparent;
}

#searchIcon {
	--tools-color: #fff;
	opacity:1;
}

#clearSearchBarButton {
	--tools-color:#fff;
	opacity:1;
}

.tile[data-locked="true"] {
	background-color:var(--cs-green) !important;
	box-shadow:initial;
}

.tile.singleColumn {
	border-radius:0;
	margin:.5px 4px;
}

.tile.singleColumn[data-type="folder"]:hover {
	background-color:#FBFACE88;
}

#suggestions {
	background:#0005;
	color:white;
	border:none;
	margin-top:1px;
}

/*.toolBarArrow {
	background-color:#0005;
}*/

/*.tile.groupFolder {
	background-color:transparent;
}
.tile.groupFolder::before {
    background-color: var(--group-color);
    width:100%;
    height:100%;
}*/