:root { 
	--background: linear-gradient(to bottom, #000000 0%,#000000 28%,#b242e1 100%);--tools-color: #ddd; 
	color: white;
	--border: rgba(255,255,255,.2);
	--hover: rgba(2,0,36,.2);
	--separator: #fff4;
	--folder-color:#FBFACE;/*#fff3;*/
	--folder-label-color: white;
	--folder-label-color-singlecolumn: white;
	--group-label-color: #fff;
}

#quickMenuElement {
	/*padding:6px;*/
}

.tile {
    border-radius:10px;
    margin:6px;
    background-color:#fff3;
    background-size:contain;
}

#toolBar .tile {
	transform:scale(.75);
	margin:2px;
	background-color:#0003;
}

#searchBar {
	background: #0005;
	color:white;
}
#searchBar:focus {
	border:1px solid transparent;
}

#searchIcon {
	--tools-color: #fff;
	opacity:1;
}

#clearSearchBarButton {
	--tools-color:#fff;
	opacity:1;
}

.tile[data-locked="true"] {
	background-color:var(--cs-green) !important;
	box-shadow:initial;
}

.tile.singleColumn {
	border-radius:0;
	margin:.5px 4px;
}

.tile.singleColumn[data-type="folder"] {
	background-color:#fff3;
}

.tile.singleColumn[data-type="folder"]:hover {
	background-color:var(--hover);
}

#suggestions {
	background:#0005;
	color:white;
	border:none;
	margin-top:1px;
}

.tile.groupFolder.singleColumn {
	background-color:#fff3;
	/*border-left:12px solid var(--group-color);*/
	border-right:6px solid var(--group-color);
	box-sizing: border-box;
}

.tile.groupFolder.singleColumn:hover {
	background-color:var(--hover);
}

.tile[data-type="folder"]::after {
	content:"";
    text-shadow:
   -.5px -.5px 0 #000,  
    .5px -.5px 0 #000,
    -.5px .5px 0 #000,
     .5px .5px 0 #000;
     padding:4px 1px !important;
}

.tile[data-locked="true"] {
	--tools-color: unset;
}
