:root { 
	--background: linear-gradient(to bottom, #e66465, #9198e5);
	--tools-color: #ddd; 
	color: white;
	--border: rgba(255,255,255,.2);
	--hover: rgba(2,0,36,.2);
	--separator: #fff4;
	--folder-color:#FBFACE;/*#fff3;*/
	--folder-label-color: white;
	--folder-label-color-singlecolumn: white;
	--group-label-color: #fff;
}

#findbar {
	background: linear-gradient(to right, #e66465, #9198e5);
}

#suggestions {
	background:#0005;
}

#searchBar {
	background: #0005;
}