:root { 
	--background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(120,120,255,1) 35%, rgba(0,212,255,1) 100%); 
	--tools-color: #ddd; 
	color: white;
	--border: rgba(255,255,255,.2);
	--hover: rgba(2,0,36,.2);
	--separator: #fff4;
}

.tile {
    border-radius:10px;
    margin:4px;
    background-color:rgba(255,255,255,.3);
}

#toolBar .tile {
	transform:scale(.75);
	margin:2px;
}

#searchBar {
	background: #0005;
	color:white;
}
#searchBar:focus {
	border:1px solid transparent;
}

#searchIcon {
	--tools-color: #fff;
	opacity:1;
}

#clearSearchBarButton {
	--tools-color:#fff;
	opacity:1;
}

.tile[data-locked="true"] {
	background-color:var(--cs-green);
	box-shadow:initial;
}

.tile.singleColumn {
	border-radius:0;
	margin:.5px 4px;
}

#suggestions {
	background:#0005;
	color:white;
	border:none;
	margin-top:1px;
}