/* Locale-specific styling */
/* Useful for resizing font-size and div width for longer words */

.slider_label {
	width:200px;
}
#right_div {
	min-width:520px;
}
._hover {
	width:auto;
}

._hover_small {
	font-size:10pt;
}

.iconButton {
	min-width:100px;
	font-size:10pt;
}
