.._hover {
	width:auto;
}
#editSearchEngineForm INPUT, #editSearchEngineForm SELECT, #editSearchEngineForm TEXTAREA {
	margin-bottom:5px;
}
#info_msg {
	max-width:320px;
}
.tablinks {
	min-width:250px;
}
#left_div {
  width: 330px;
}
#right_div {
  width: calc(100% - 330px);
  margin-left: 330px;
}
#main {
  max-width: 1300px;
}
