.slider_label {
	width:220px;
}
#right_div {
	min-width:480px;
	max-width:820px;
}
._hover {
	width:auto;
}
._hover_small {
	font-size:10pt;
}
.iconButton {
	min-width:100px;
	font-size:10pt;
}
BODY {
	min-width:520px;
	overflow-x:hidden;
}
