BODY[data-theme="dark"] IMG {
	filter: invert(1);
}
#findbar {
	padding:4px 0;
	vertical-align:middle;
	font-size:10pt;
	font-family:Arial;
	font-weight:600;
	user-select:none;
	-moz-user-select:none;
}
#findbar * {
	display:inline-block;
}
#searchBar {
	width: 200px;
	border:1px solid #888;
	height:20px;
	padding:0 10px;
	margin-left:4px;
	user-select:auto;
	-moz-user-select:auto;
}
#close {
	vertical-align:middle;
	margin:0 4px;
	float:right;
}
#close IMG {
	width:20px;
	vertical-align:middle;
	margin-top:-2px;
}
#previous, #next {
	border:1px solid #888;
	text-align:center;
	width:30px;
	height:20px;
	vertical-align:top;
}
#previous IMG, #next IMG {
	width:20px;
	vertical-align:middle;
}
#next {
	transform:scaleY(-1);
}
#mark_counter {
	margin-left:16px;
	opacity:.5;
}
BODY[data-theme="dark"] #previous, BODY[data-theme="dark"] #next {
	background-color:#5b5b5d;
}
