BODY[data-theme="dark"] {
	color: #a4a4a4;
}

BODY[data-theme="dark"] IMG {
	filter: invert(1);
}
#findbar {
	margin-top:4px;
	vertical-align:middle;
	font-size:10pt;
	font-family:Arial;
	font-weight:600;
	user-select:none;
	-moz-user-select:none;
}
#findbar * {
	display:inline-block;
}
#searchBar {
	width: 300px;
	border:1px solid #888;
	height:24px;
	padding:0 10px;
	margin-left:4px;
	user-select:text;
	-moz-user-select:text;
	border-radius:2px 0 0 2px;
}
#close {
	vertical-align:middle;
	margin:0 4px;
}
#close IMG {
	width:20px;
	vertical-align:middle;
	margin-top:-4px;
}
.button {
	border:1px solid #888;
	text-align:center;
	height:24px;
	vertical-align:middle;
	padding:0 6px;
}
#previous, #next {
	vertical-align:top;
}
#previous IMG, #next IMG {
	width:20px;
	vertical-align:middle;
	position:relative;
	top:2px;
}
#next {
	transform:scaleY(-1);
	border-radius:0 2px 2px 0;
}
#mark_counter {
	margin:0 16px;
}
BODY[data-theme="dark"] .button {
	background-color:#5b5b5d;
}
.optionLabel {
	display:inline-block;
	text-align:center;
	height:22px;
	width:22px;
	padding: 0 4px;
	vertical-align:middle;
	margin:0 2px;
	border:2px solid transparent;
	border-radius:2px;
	line-height:20px;
}
INPUT:checked + .optionLabel {
	border:2px solid #888;
	background-color:var(--hover);
	/* box-shadow: 0 0 2px black inset; */
}
.option {
	position:absolute;
	z-index:-1;
	display:none;
	opacity:0;
}

