:root {
	--tools-color:#444;
}
BODY, HTML {
	margin:0;
	padding:0;
	background:none;
}

#findbar {
	padding-top:5px;
	font-size:10pt;
	font-family:Arial;
	font-weight:600;
	user-select:none;
	-moz-user-select:none;
	height:36px;
}
#findbar > * {
	display:inline-block;
}
#searchBar {
	width: 275px;
	border:1px solid #888;
	height:24px;
	padding:0 24px 0 24px;
	margin-left:4px;
	user-select:text;
	-moz-user-select:text;
	border-radius:2px 0 0 2px;
	vertical-align:middle;
}
#close {
	vertical-align:middle;
	width:20px;
	height:20px;
}
.button {
	border:1px solid #888;
	text-align:center;
	height:24px;
	width:32px;
	display:inline-block;
	vertical-align:top;
	padding:0 6px;
}
#previous, #next {
	vertical-align:middle;
	margin-left:-1px;
}
#next {
	border-radius:0 2px 2px 0;
}
#mark_counter {
	margin:0 16px;
}
.optionLabel {
	text-align:center;
	height:22px;
	width:22px;
	padding: 0 4px;
	vertical-align:middle;
	margin:0 2px;
	border:2px solid transparent;
	border-radius:2px;
	line-height:20px;
}
INPUT:checked + .optionLabel {
	border:2px solid #888;
	background:var(--hover);
}
.option {
	position:absolute;
	z-index:-1;
	display:none;
	opacity:0;
}
#searchIcon, #clearSearchBarButton {
	position:absolute;
	z-index:2;
	left:60px;
	top:12px;
	height:14px;
	width:14px;
	vertical-align:middle;
	opacity:.5;
}
#searchIcon {
	left:60px;
}
#clearSearchBarButton {
	left:364px;
}
LABEL .tool {
	width:20px;
	height:20px;
}
