BODY[data-theme="dark"] {
	color: #a4a4a4;
}

BODY[data-theme="dark"] IMG {
	filter: invert(1);
}
#findbar {
	padding:6px 0;
	vertical-align:middle;
	font-size:10pt;
	font-family:Arial;
	font-weight:600;
	user-select:none;
	-moz-user-select:none;
}
#findbar * {
	display:inline-block;
}
#searchBar {
	width: 300px;
	border:1px solid #888;
	height:20px;
	padding:0 10px;
	margin-left:4px;
	user-select:text;
	-moz-user-select:text;
}
#close {
	vertical-align:middle;
	margin:0 4px;
}
#close IMG {
	width:20px;
	vertical-align:middle;
	margin-top:-4px;
}
.button {
	border:1px solid #888;
	text-align:center;
	height:20px;
	vertical-align:middle;
	padding:0 8px;
}
#previous, #next {
	vertical-align:top;
}
#previous IMG, #next IMG {
	width:20px;
	vertical-align:middle;
}
#next {
	transform:scaleY(-1);
}
#mark_counter {
	margin-left:16px;
}
BODY[data-theme="dark"] .button {
	background-color:#5b5b5d;
}
