@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

#quickMenuElement DIV:hover {
/*  background-color: #e0e0e0; */
	background-color: #ccdbe8;
	border-color: #ccdbe8;
/*	background-size: 20px 20px; */
}
#quickMenuElement DIV {
	width:32px;
	height:32px;
	border:1px solid #e0e0e0;
	padding:0;
	margin:0;
	display:inline-block;
	background-size: 16px 16px;
	background-position: center center;
	background-repeat: no-repeat;
	transition: background-size .25s ease-in-out, background-color .25s ease-out, border-color .25s ease-out;
}
#quickMenuElement, #quickMenuElement DIV {
	box-sizing: content-box;
	display:inline-block;
	font-size:0;
	line-height:0;
	vertical-align:top;
	user-select: none; 
	-moz-user-select: none;
	overflow:hidden;
	white-space: nowrap;
}

#quickMenuContainerElement { /*#quickMenuElement {*/
	all:unset;
	position:absolute;
	z-index: 2147483647; /* max 32-bit integer */
	cursor: pointer;
	opacity: 0;
	padding: 0;
	margin: 0;
	background-color:#EFF0F1;
	border:1px solid #9abad2;/*#C2C3C5;*/
	border-radius:10px; 
	font-weight:bold;
	text-align:left;
	box-shadow: 0px 4px 16px 2px rgba(0,0,0,.25);
	width:auto;
	overflow:hidden;
	transition: opacity .1s;
	display:block;
}
#CS_customSearchIframe {
	all:unset;
	position:fixed;
	z-index:2147483647;
	top:0;
	left:0;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	opacity:0;
	transition: opacity .5s ease-in-out;
	border:none;
}
#quickmenusearchbar {
	width:calc(100% - 20px);
	padding:0 10px;
	height:20px;
	margin:0;
	text-align:left;
	border:none;
	background-color:#9abad2;
	color:white;
}
#quickmenusearchbar:focus {
/*	color:#4a4a4a;
	background-color:white;
*/	text-align:left;
}