* {
	box-sizing:initial;
}
#CS_sbContainer {
	position:fixed;
	right:0;
	top:0;
	z-index:2147483647;
	overflow:hidden;
	transform-origin:top right;
}
#CS_sbTab {
	min-width:16px;
	height:55px;
	background-color:#eff0f1;
	vertical-align:top;
	display:inline-block;
	border-radius:5px 0 0 5px;
	border:1px solid black;
	border-right:none;
	color:black;
	position:relative;
	right:-1px;
	opacity:.3;
}
#CS_sbTab:hover {
	opacity:1;
}
#CS_sbTab IMG {
	height:24px;
	width:24px;
	vertical-align:middle;
	display:none;
	padding:14px;
	opacity:.4
}
#CS_sbTab IMG:hover {
	opacity:1;
}