#CS_sbIframe, #CS_sbIframe * {
	box-sizing:content-box !important;
}
#CS_sbIframe, #CS_sbOpeningTab {
	position:fixed;
	z-index:2147483646;
	white-space: nowrap;
	transition: var(--user-transition, all 0.15s);
	line-height:0;
	transform:scale( calc( var(--cs-scale,1) * var(--cs-custom-scale,1))) !important;
}
#CS_sbIframe {
	border:1px solid #9abad2;
	box-shadow: 0px 4px 16px 2px rgba(0,0,0,.25);
	background-color:transparent;
/*	opacity:0;*/
	display: inline-block !important;
}
#CS_sbOpeningTab.CS_moving , #CS_sbIframe.CS_moving, #CS_quickMenuIframe.CS_moving {
	border: 2px dashed #9abad2;
}
#CS_sbOpeningTab {
	width:32px;
	height:32px;	
	background: no-repeat center center;
	background-image: var(--opening-icon);
	background-size: 20px;
	vertical-align:top;
	background-color:white;
	display:inline-block;
	border:1px solid black;
	opacity:.3;
	filter:invert(1);
	border-radius:5px;
}
#CS_sbOpeningTab:hover, #CS_sbOpeningTab.CS_moving {
	opacity:1;
	background-color:#eff0f1;
	filter:none;
}
