#CS_sbContainer * {
	box-sizing:content-box !important;
}
#CS_sbContainer {
	position:fixed;
	z-index:2147483647;
	white-space: nowrap;
	transition: var(--user-transition, all 0.15s);
	line-height:0;
	transform:scale( calc( 1 / var(--cs-zoom, 1))) !important;
}
#CS_sbContainer[data-opened="true"] {
	border:1px solid #9abad2;
	box-shadow: 0px 4px 16px 2px rgba(0,0,0,.25);
	background-color:#eff0f1;
}
#CS_sbContainer.CS_moving #CS_sbOpeningTab, #CS_sbContainer.CS_moving #CS_sbIframe {
	border: 2px dashed #9abad2;
}
#CS_sbOpeningTab {
	width:32px;
	height:32px;	
	background: no-repeat center center;
	background-image: var(--opening-icon);
	background-size: 20px;
	vertical-align:top;
	background-color:white;
	display:inline-block;
	border:1px solid black;
	opacity:.3;
	transition: inherit;
	filter:invert(1);
	border-radius:5px;
}
#CS_sbOpeningTab:hover, #CS_sbContainer.CS_moving #CS_sbOpeningTab {
	opacity:1;
	background-color:#eff0f1;
	filter:none;
}
#CS_sbOpeningTab.CS_close {
	width:24px;
	height:16px;
	/* background-image: var(--closing-icon); */
	background-image: var(--handle-icon);
	position:absolute;
	top:4px;
	left:0;
	border:none;
	filter:none;
	background-color:transparent;
	background-size: cover;
	opacity:1;
	cursor: grab;
}
#CS_sbContainer[data-opened="true"] #CS_sbOpeningTab.CS_close.CS_dark {
	filter:invert(1) brightness(50%);
}
#CS_sbContainer[data-opened="true"].CS_dark {
	background-color:#323234;
}
#CS_sbIframe {
	display:inline-block;
	max-width:0px;
	overflow:hidden;
	transition:inherit;
	border:none;
}