#CS_quickMenuIframe {
	all:unset;
	position:fixed;
	cursor: pointer;
	opacity: 0;
	padding: 0;
	margin: 0;
	border:1px solid #9abad2;
	border-radius:10px; 
	font-weight:bold;
	text-align:left;
	box-shadow: 0px 4px 16px 2px rgba(0,0,0,.25);
	width:auto;
	overflow:hidden;
	display:inline-block !important;
	z-index: 2147483647; /* max 32-bit integer */
	transition: var(--user-transition, width .15s ease-in-out, height .15s ease-in-out, opacity .1s );
	transform:scale( calc( 1 / var(--cs-zoom, 1) * var(--cs-scale,1))) !important;
	transform-origin: top left;
	background-color:transparent;
}
#CS_quickMenuIframe[style*="--opening-opacity"] {
	opacity:var(--opening-opacity);
}
#CS_quickMenuIframe:hover {
	opacity:1;
}
#CS_quickMenuIframe.webkitBorderRadiusFix {
	-webkit-mask-image: -webkit-radial-gradient(white, black);	
	-webkit-backface-visibility: hidden;
}
#CS_customSearchIframe {
	all:unset;
	position:fixed;
	z-index:2147483647;
	top:0;
	left:0;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	opacity:0;
	transition: opacity .5s ease-in-out;
	border:none;
}
.CS_resizeWidget {
	cursor:nwse-resize;
	display:inline-block;

	width:35px;
	height:35px;
	border: 8px dashed #3293d4;
	border-width:0 8px 8px 0;

	transform: scale(calc( 1 / var(--cs-zoom, 1))) !important;
	opacity:0;
	position:fixed;
	user-select:none;
	-moz-user-select:none;
	z-index:2147483646;
	transition: var(--user-transition, left .15s ease-in-out, top .15s ease-in-out, opacity .1s );
}
.CS_resizeWidget:hover {
	opacity:1;
}

.CS_resizeWidget.editQuickMenu {
	padding:8px 0 0 8px;
	border-style: double;
	opacity:1;
}

.CS_resizing {
	border: 3px dashed !important;
	transition: none !important;
}

#CS_highLightNavBar {
	top:0;
	bottom:0;
	right:0;
	position:fixed;
	width:16px;
	z-index:2147483647;
	opacity:.5;
	transform-origin:top right;
	transform:scaleX( calc( 1 / var(--cs-zoom, 1))) !important;
}
#CS_highLightNavBar:hover {
	opacity:.5;
}
#CS_highLightNavBar > IMG {
	height:16px;
	transform-origin:top right;
	transform:scaleY( calc( 1 / var(--cs-zoom, 1))) !important;
}
#CS_highLightNavBar > DIV {
	position:absolute;
	display:inline-block;
	left:0;
	width:100%;
}
@keyframes CS_flash {
	0% {
		color: var(--cs-mark-active-color);
		background-color: var(--cs-mark-active-background);
	} 
	50% {
		color: black;
		background-color: transparent;
	} 
	100% {
		color: var(--cs-mark-active-color);
		background-color: var(--cs-mark-active-background);
	} 
}

@keyframes CS_flash_underline {
	0% {
		border-color: var(--cs-mark-active-background);
	} 
	50% {
		border-color: transparent;
	} 
	100% {
		border-color: var(--cs-mark-active-background);
	} 
}
.CS_mark_selected.CS_mark_flash[data-flashstyle='background'] {
	animation: CS_flash linear .5s infinite;
}
.CS_mark_selected.CS_mark_flash[data-flashstyle='underline'] {
	animation: CS_flash_underline linear .5s infinite;
}
#CS_findBarIframe {
	position:fixed;
	display:inline-block !important;
	z-index:2147483647;
	transform-origin:top left;
	box-shadow: 0px 4px 16px 2px rgba(0,0,0,.25);
	transition: var(--user-transition, all .25s);
	overflow: hidden;
	opacity:1;
	height:36px;
	white-space:nowrap;
	transform:scale( calc( var(--cs-dpi) / var(--cs-zoom, 1))) !important;
	border:none; 
	padding:0;
	margin:0;
	background-color:transparent;
}
#CS_findBarIframe[data-windowtype="docked"] {
	left:0;
	right:0;
	width: calc(var(--cs-zoom, 100) * 100%);
}
#CS_findBarIframe[data-windowtype="undocked"] {
	width:870px !important;	
}
.CS_mark, #CS_highLightNavBar > DIV {
	background: transparent;
	transition: all .5s ease;
}
.CS_overDiv {
	display:inline-block;
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:2147483647;
	opacity:0;
}
.CS_hide {
	display:none !important;
}
.CS_notification {
	display:inline-block;
	position:fixed;
	top:0;
	right:0;
	background-color:white;
	color:black;
	padding:6px 20px;
	box-shadow: 0px 4px 16px 2px rgba(0,0,0,.25);
	z-index: 2147483647; /* max 32-bit integer */
	font-size:11pt;
	border:1px solid black;
	transform:scale( calc( 1 / var(--cs-zoom, 1))) !important;
	transform-origin:top right;
	transition: all .25s;
	white-space:nowrap;
}
.CS_notification > IMG {
	height:20px;
	width:20px;
	vertical-align:middle;
	margin-right:10px;
	display:inline-block;
}
.CS_notification .content {
	display:inline-block;
}
@media print {
	#CS_findBarIframe, #CS_sbIframe, #CS_quickMenuIframe, #CS_sbOpeningTab {
		display:none;
	}
}
#CS_underDiv {
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:fixed;
	z-index:2147483645;
	/* background-color:rgba(255,0,0,.5); */
}
.CS_overDiv.editQuickMenu {
	opacity:.5;
	background-color:#888;
	z-index:2147483645;

	transition:opacity .5s, background-color .5s;
}
#CS_pageTilesIframe {
	width:100%;
	height:100%;
	border:none;
	background-color:transparent;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:2147483646;
}
.CS_highlightTextBlock {
	position:fixed;
	z-index:9999;
	display:inline-block;
	background-color:blue;
	opacity:.1;
	/* positioning set in inject_quickmenu.js */
}
