:root {
	--bg-color1:#3a3a3a;
	--bg-color2:#353535;
	--bg-color3:#454545;
	--bg-color4:#454545;
	--color:#8e8e8e;
	--color2:#8e8e8e;
	--border-color1:#333;
	--border-color2:#222;
	--border-color3:#333;
	--hover1:#666;
}