:root {
	--bg-color2:#fafafa;
	--bg-color1:#f5f5f5;
	--bg-color3:#eee;
	--bg-color4:#E4E4E4;

	--border-color1:#ddd;
	--border-color2:#ddd;
	--border-color3:#858585;

	--color:#4A4A4A;
	--color2:#555;

	--hover1:#ddd;
	--hover2:#eee;

	--cs-green: #6ec179;
	--selected: #0078d7;

	--tree-row-border: 1px solid #fff;
	--tools-color:#000;
}
HTML, BODY {
	height:100%;
	padding:0;
	margin:0;
}
BODY {
	font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif; 
	background-color:var(--bg-color3);
	color: var(--color);
	text-align:left;
	font-size:11pt;
	opacity:0;
	transition:.2s opacity;
}
TEXTAREA {
	color: var(--color);
	background-color:var(--bg-color1);
}
#main {
	padding:0;
	margin:0;
	max-width: 1200px;
	transition: filter .1s;
	margin:0 auto;
	height:100vh;
}
#left_div {
	box-sizing:border-box;
	width:250px;
	font-size:16pt;
	font-weight:bold;
	text-align:left;
	padding:16px;
	margin-right:10px;
	vertical-align:top;
	display:inline-block;
	background-color:var(--bg-color2);
	position:fixed;
	height:100%;
	overflow-y:auto;
	z-index:2;
}
#right_div {
	box-sizing:border-box;
	display:inline-block;
	width:calc(100% - 250px);
	text-align:left;
	margin-left:250px;
	padding:0 16px;
	height:100%;
}
#left_div #info {
	font-size:10pt;
	margin-top:50px;
	font-weight:normal;
}
#left_div #info IMG {
	height:1rem;
	margin-left:10pt;
}
#left_div #info A,#left_div #info A:visited, #left_div #info A:link {
	color:inherit;
	text-decoration: none;
}
#banner {
	padding:8px;
}
.code {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	font-weight: normal;
	user-select: text;
	-moz-user-select: text;
	color:blue;
	background-color:#FBFACE;
	padding:5px;
}
HR {
	display: block;
	height: 1px;
	border: 0;
	border-top: 3px solid var(--border-color1); /*#E9ECEF;*/
	margin: 1em 0;
	padding: 0; 
}
BUTTON {
	background-color:var(--bg-color3);
	border-radius:4px;
	color:var(--color1);
	border:1px solid var(--border-color1);
	padding:2px 8px;
}
BUTTON:hover {
	background-color:var(--hover1);
}
.header_hr {
	width:calc(100% + 40px);
	margin-left:-20px;
	border-top:4px solid var(--cs-green);
}
.blobContainerHeader {
	font-size:24pt;
	font-weight:300;
	text-align:left;
	margin:10px 0 20px -20px;
	display:none;
}
.blobContainerHeader IMG {
	height:1em;
	vertical-align:middle;
	margin:10px 16px 20px 0;
}
.keyboardButton {
	font-weight:bold;
	border-radius:5px;
	font-size:9pt;
	padding:3px 4px;
	min-width:50px;
	min-height:12px;
	display:inline-block;
	text-align:center;
	user-select: none;

}
.keyboardButton IMG {
	height: 1em;
}
.keyboardButton SELECT {
	width:auto;
	border:none;
	font:inherit;
	height:auto;
	padding:0;
	background-color:transparent;
	color:inherit;
}
.smallIcon {
	vertical-align:middle;
	height:24px;
}
.slider_label {
	display:inline-block;
	width:175px;
}
.slider {
	-webkit-appearance: none;
	height: 10px;
	border-radius: 5px;  
	background: #E9ECEF;
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
	max-width: 200px;
	background-color:var(--border-color2);
}
.slider::-moz-range-thumb {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: var(--cs-green);
	cursor: pointer;
}
.inputNice {
	width:55px;
	font-size:inherit;
	border-radius:4px;
	border:1px solid var(--border-color3);
	padding:1px 4px;
	background-color:var(--bg-color1);
	color:var(--color);
}

.inputNice[name="searchCode"] {
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	font-size:9pt;
	color:var(--color);
}

 /* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height:20px;
  width:52px;
  background-color: #ddd;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
  transition: .4s;
  
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 0px;
  bottom: 0px;
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  transition: .4s;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}

input:checked + .toggleSlider {
  background-color: var(--cs-green);
}

.toggleSlider.round::after {
  text-align:right;
  font-size:9pt;
  content: "OFF";
  width:48px;
  color:white;
  display:inline-block;
}

input:checked + .toggleSlider.round::after {
	text-align:left;
	padding-left:5px;
	content: "ON";
}

input:focus + .toggleSlider {
  box-shadow: 0 0 1px #c0e2c5;
}

input:checked + .toggleSlider:before {
  transform: translateX(32px);
  background-color:var(--cs-green);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
/*  box-shadow:2px 2px 2px #666, inset 2px 2px 4px #fff; */
}

input[type="color"] {

}

/* Rounded sliders */
.toggleSlider.round {
  border-radius: 24px;
  border:1px solid grey;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.toggleSlider.round:before {
  border-radius: 50%;
  border:1px solid grey;
}

.optionDiv {
	display:table;
	padding:4px;
}
.optionDiv .label {
	padding-left:20px;
	position:relative;
	top:-9px;
}
.container {
	display: inline-block;
	position: relative;
	/*margin-bottom: 8px;*/
	cursor: pointer;
	user-select: none;
	vertical-align:top;
}

/* Hide the browser's default radio button */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	width:0;
	height:0;
	z-index:-1;
}

/* Create a custom radio button */
.checkmark {
	height: 12px;
	width: 12px;
	background-color: #eee;
	border-radius: 50%;
	border:1px solid grey;
	display:flex;

}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: var(--cs-green);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	visibility:hidden;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	display: inline-block;
	visibility:visible;
}

.container .checkmark2 {
	border-radius:4px;
	background-color:var(--bg-color1);
}

/* Style the checkmark/indicator */
.container .checkmark2::after {
	left: 3px;
	width: 3px;
	height: 6px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
	position: relative;
}
.checkboxImage {
	height:0;
	display:block;
}
.checkboxImage input {
	display:none;
}
.checkboxImage input + label
{
   height: 24px;
   display:inline-block;
   padding: 0;
}
.checkboxImage input + label > IMG
{
	height:100%;
	opacity:.3;
}

.checkboxImage input:checked + label > IMG
{
	opacity:1;
}

.checkboxOpeningChoice {
	display:inline-block;
	width:100%;
}
.checkboxOpeningChoice input {
	display:none;
}
.checkboxOpeningChoice LABEL {
	user-select:none;
	-moz-user-select: none;
}
.checkboxOpeningChoice input + label {
	color: #888;
	padding:5px 10px;
	display:inline-block;
	text-align:left;
	width:calc(100% - 20px);
}
.checkboxOpeningChoice input + label:hover {
	background-color:#f3f3f3;
}
.checkboxOpeningChoice input + label > IMG {
	height:20px;
	margin-right:10px;
	vertical-align:bottom;
	opacity:.5;
}
.checkboxOpeningChoice input:checked + label {
	color:white;
	background-color: var(--cs-green);
}
.checkboxOpeningChoice input:checked + label > IMG {
	opacity:1;
	filter: brightness(0) invert(1);
}

.info {
	/*font-size:7pt;*/
	/*border-radius:2px;*/
	/*padding: 2px;*/
	/*background-color:var(--bg-color1);*/
	/*vertical-align:top;*/
	margin-left:4px;
	cursor:help;
}

#info_msg {
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:2147483647;
	padding:5px;
	border-radius:5px;
	max-width:200px;
	width:auto;
	font-size:10pt;
	background-color:var(--bg-color1);
	border:1px solid var(--selected);
	box-shadow: 0px 2px 8px 1px rgba(0,0,0,.25);
	text-align:left;
}

#info_msg .point {
	background-color:inherit;
	z-index:-1;
	display:inline-block;
	width:16px;
	height:16px;
	transform:rotate(45deg);
	position:absolute;
	top:-8.5px;
	left:10px;
	border:inherit;
	border-width:1px 0px 0px 1px;
}

#b_importSettings, #b_exportSettings {
	width:49%;
	padding:4px 0;
}

 /* Style the tab */
.tab {
	overflow: hidden;
	display:inline-block;
	margin:0;
	padding:0;
	position:relative;

}

/* Style the buttons that are used to open the tab content */
.tab .tablinks {
	/*border: 1px solid var(--border-color1); */
	border:none;
	background-color: var(--bg-color2);
	outline: none;
	cursor: pointer;
	padding: 6px 16px;
	font-size:11pt;
	text-align:left;
	margin:0;
	color:var(--color2);
	/*border-radius:8px 0 0 8px;*/
	width:100%;
	padding-left:40px;
	position:relative;
}

.tab .tablinks.sublink {
	border-radius:0;
	width:95%;
	font-size:10pt;
	padding:4px 16px;
	margin:0;
	border:none;
	border-left: 4px solid var(--border-color2);
	background-color:transparent;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover {
	background-color: var(--hover1);
}

/* Create an active/current tablink class */
.tab .tablinks.active {
	background-color: var(--cs-green);
	color:white;
	font-weight:600;
	--tools-color:white;
}

.tab .tablinks[data-tabid="enginesTab"] {
}

/* Style the tab content */
.tabcontent {
	display: none;
	font-weight:bold;
	animation: fadeEffect .25s;
	margin:0;
	padding:0 0 10px 0;
} 

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}
.tab .tablinks .tool {
	position:absolute;
	height:1.2em;
	left:8px;
	vertical-align:middle;
}

.fade-in {
	opacity: 1;
	animation-name: fadeEffect;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .25s;
}

.toolIcon {
	display:inline-block;
	width:30px;
	height:30px;
	padding:0;
	border: dashed;
	border-color: transparent;
	padding:0px 4px;
	border-radius:10px;
}

.position {
	display:inline-block;
	width:20px;
	height:20px;
	background-color:var(--border-color1);
	border:1px solid var(--border-color2);
}

.position.active, .position.active:hover {
	background-color:var(--cs-green);
	opacity:1;
}
.position:hover {
	background-color:var(--cs-green);
	opacity:.4;
}
.header1 {
	text-align:left;
	font-size:14pt;
	font-variant: small-caps;
	font-weight:300;
	padding:0;
	margin:0;
	position:absolute;
	top:-.7em;
	background-color:var(--bg-color2);
	display:inline-block;
	padding:4px 16px;
	border:solid var(--border-color1);
	border-radius:32px;
	border-width: 1px 0 0 0;
}

.header2 {
	text-align:left;
	font-size:10pt;
	font-variant: small-caps;
	font-weight:bold;
}
#helpTab .header1 {
	display:block;
	top:0;
	padding:0;
	margin:20px 0 10px 0;
	border:none;
	position:relative;
}
TABLE.searchActions {
}			
TABLE.searchActions SELECT {
	font-size:10pt;
	border:1px solid transparent;
	padding-right:10px;
	width:auto;
	max-width:250px;

}
TABLE.searchActions SELECT:focus {
	border:1px solid #858585;
}
TABLE.searchActions TD {
	margin:0;
	padding:2px 16px;
	border-style:dashed;
	border-color: var(--border-color2);
	border-width:0px 0px 1px 0px;
	position:relative;
}
TABLE.searchActions TD:nth-of-type(3n) {
	border-left: 1px dashed var(--border-color2);
}
TABLE.searchActions TD:first-of-type {
	white-space:nowrap;
}
TABLE.searchActions[data-menu="contextMenu"] TD:nth-of-type(3n) {
	display: none;
}	
P.short {
	margin:0;
	padding:2px 0;
	border-style:dashed;
	border-color: var(--border-color2);
	border-width:0px 0px 1px 0px;
	position:relative;
	width:auto;
}

P.short SELECT {
	font-size:10pt;
	border:1px solid transparent;
	padding-right:10px;
	position:absolute;
	left:150px;
}

P.short SELECT:focus {
	border:1px solid #858585;
}

P {
	margin-top:12px;
	margin-bottom:6px;
}

SPAN.buttonLabel {
	display:inline-block;
	width:83px;
	font-variant:small-caps;
	text-align:right;
	padding-right:10px;
	font-size:8pt;
}
#searchEnginesContainer {
	width:100%;
	background-color:white;
}
#searchEnginesContainer TD {
	width:1%;
	vertical-align:top;
}
#searchEnginesContainer TD:last-child {
	width:100%;
}
#searchEnginesContainer .hide {
	text-align:center;
	vertical-align:middle;
}
#searchEnginesContainer .icon {
	width:16px;
	padding:2px;
	vertical-align:middle;
	text-align:center;
	vertical-align:middle;
}
#searchEnginesContainer .title {
	display:inline-block;
	width:100%;
	border:none;
	overflow:hidden;
	user-select:none;
	cursor:default;	
	vertical-align:middle;
	position:relative;
	white-space: nowrap;
}
#searchEnginesContainer .title INPUT:disabled {
	all:inherit;
}
#searchEnginesContainer TR {
	width: auto;
	outline: 1px solid #F3F3F3;
}
#searchEnginesContainer TR:hover {
	background-color:#f6f8fa;
}
#searchEnginesContainer .delete, #searchEnginesContainer .copy, #searchEnginesContainer .hotkey, .hotkey  {
	height:20px;
	margin:0 10px;
	position:absolute;
	right:0;
	background-color:white;
}
#searchEnginesContainer .copy {
	right:30px;
}
#searchEnginesContainer .hotkey {
	background-color: #E4E4E4;
	right:30px;
	display:inline-block;
	min-width:1em;
	padding:0px 10px;
	height:calc(100% - 2px);
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	transition: background-color .25s;
}
#searchEnginesContainer .hotkey IMG {				
	height:1em;
	width:1em;
	vertical-align:middle;
	margin:0;
	padding:0;
}
#searchEnginesContainer .add_search	{
	height:16px;
	padding:0 10px;
	position:absolute;
	right:31px;
	vertical-align:middle;
}
#searchEnginesContainer .title BUTTON {
	font-size:8pt;
	float:right;
}
#searchEnginesContainer .hide {
	display:inline;
	text-align:center;
	padding:0 10px 0 20px;
}
.editForm {
	display:none;
	overflow:hidden;
}			
.editForm INPUT:not([name="iconPicker"]), .editForm SELECT, .editForm TEXTAREA {
	display:block;
	width:calc(100% - 20px);
	border:1px solid var(--border-color1);
	margin:1px;
	margin-top:-8px;
	padding:4px;
	padding-top:8px;
	background-color:var(--bg-color1);
	color:var(--color1);
	font-family:inherit;
	margin-bottom:4px;
}
.editForm TEXTAREA {
	line-height: 20px;
	height: 18px;
	resize:vertical;
}

.editForm SELECT {
	width:120px;
}
.editForm INPUT:focus, .editForm TEXTAREA:focus{
	/*border:1px solid var(--selected, #008afc);*/
	box-shadow:0px 0px 3px 2px var(--selected, #008afc);
	outline: none;
}
.editForm .error {
	border:1px solid pink;
	box-shadow:0px 0px 3px 1px pink;
}
.editForm > LABEL, .editForm > DIV > LABEL, .editForm .formLabel {
	font-size:10pt;
	font-variant:small-caps;
	display:inline-block;
	background-color:var(--bg-color2);
	position:relative;
	z-index:2;
	left:20px;
	padding:0px 4px;
	color:var(--color2);
	font-weight:normal;	
}
.fileUpload input[type="file"] {
	display: none;
}

.fileUpload {
	display:inline-block;
	font-size:10pt;
	cursor:pointer;
	text-align:center;
	border:1px solid var(--border-color1);
	border-radius:4px;
	padding:2px 6px;
	background-color:var(--bg-color4);
}
.fileUpload > IMG {
	vertical-align:middle;
	height:20px;
	padding:4px;
}
DIV.blurb {
	font-size:10pt;
	border-left:10px solid var(--bg-color3);
	padding-left:10px;
	margin-top:16px;
	margin-left:5px;

}
.openingMethodTab {
	border:1px solid #d4d4d4;
	padding:4px 10px;
	background-color:#fefefe;
	border-radius:4px;
	display:inline-block;	
}
.openOnDetails {
	max-height:0px;
	overflow:hidden;
	transition: max-height .5s ease-in-out;
}
.section H2 {
	border:4px solid #ddd;
	border-width:0 0 2px 0;
	margin:10px 0;
	font-size:14pt;
	margin:25px 0 10px 0;
	padding-bottom:5px;

}
.section H2::before {
	content:"";
	color:white;
	display:inline-block;
	width:.9em;
	height:.9em;
	background-color:var(--cs-green);
	margin-right:10px;
	border-radius:50%;
}
.section {
	margin:10px 0;
}
.section CODE {
	font-weight:bold;
	background-color:#f0f0f0;
	padding:0 4px;
}
.openingTable {
/*				width:725px;*/
}
.openingTable TD {
	border-bottom:1px solid var(--border-color2);
	/*padding:10px 0px;*/
	min-width: 200px;
}
.openingTable TR > TD:nth-of-type(2) {
	padding-top: 10px;
	padding-bottom: 10px;
}
.openingTable TD:first-child {
	border-right:1px solid var(--border-color2);
	vertical-align:middle;
	max-width:275px;
	padding-right:10px;
}
.openingTable TD:nth-child(2) {
	padding:0px 16px;
/*				max-width: 450px;*/
}
.openingTable TR:last-child TD {
	border-bottom: none;
}
.openingTable .tool {
	height:24px;
	width:24px;
	vertical-align: middle;
	margin:0 10px;
}
.openingTable TD:nth-of-type(1) .option .description {
	font-weight:bold;
}

#d_clearSearchHistory {
	cursor: pointer;
	user-select:none;
	-moz-user-select: none;
}
.contextMenu {
	background-color:var(--bg-color2);
	border:1px solid #aaa;
	position:absolute;
	z-index:2;
	border-radius: 4px;
	overflow:hidden;
	opacity:0;
	cursor:default;
	border:1px solid var(--border-color3);/*#C2C3C5;*/
	box-shadow: 0px 2px 8px 1px rgba(0,0,0,.25);
}
.contextMenu > .menuItem {
	display: block;
	width:100%;
	border:1px solid var(--bg-color3);
	vertical-align:middle;
	text-align:left;
	padding: 2px 5px;
	white-space: nowrap;
}
.contextMenu > .menuItem:hover {
	background-color: var(--hover1);
}
.contextMenu > .menuItem IMG {
	height:20px;
	margin-right:10px;
	vertical-align:middle;
	width: 20px;
}
.contextMenu > .menuItem.parentMenu::after {
    content: "▶";
    position:absolute;
    right:8px;
    margin-left:16px;
}

.treeNode {
	border-top: var(--tree-row-border);
	border-bottom: 1px solid transparent;
	cursor:default;
	position:relative;
	transition: padding .1s linear;
}
.treeNode > IMG {
	height:16px;
	width:16px;
	margin-right:10px;
	vertical-align:middle;
}
.hotkey {
	background-color: var(--bg-color4);
	border-radius:4px;
	border:1px solid var(--border-color1);
	display:inline-block;
	min-width:.5em;
	min-height:.5em;
	height:auto;
	padding:2px 2px;
	text-align:center;
	vertical-align:middle;
	font-weight:bold;
	transition: background-color .25s;
	font-size:8pt;
	line-height: 8pt;
	margin:1px 0;
	color:var(--color2);
	position: unset;
	transition: background-color .25s, opacity.15s;
}
.hotkey:hover {
	background-color:var(--hover1);
}
.keyword {
	float:right;
	font-weight:normal;
	right:40px;
	width:40px;
}
.treeNode .header {
	display: flex;
	align-items: center;
}
.treeNode .header:not(.selected):hover {
	background-color:var(--hover2);
}
.treeNode .header .label {
	margin-right: 8px;
}
.treeNode .header .hotkey.hide {
	opacity:0;
}
.treeNode .header .hotkey.shift {
	right:8px;
	position: absolute;
}
.treeNode .header:hover .hotkey {
	opacity:1;
}
.hidden {
	opacity: .5;
}
.selected {
	background-color:var(--selected);
	color:white;
}
.error {
	background-color: pink;
	opacity: .5;
}
#managerContainer {
	font-weight:normal;
	width:100%;
	/*max-height:500px;*/
	height:500px;
	display:inline-block;
	overflow:hidden;
	font-size:11pt;
	text-align:left;
	background-color:var(--bg-color2);
	resize:both;
}
#managerContainer > DIV {
	position:relative;
	max-height:inherit;
}
#managerContainer > DIV LI {
	margin-left:-16px;
	list-style-type: none;
}
#managerContainer .header > IMG {
	height:16px;
	width:16px;
	margin-right:10px;
	vertical-align:middle;
}
.description {
	font-weight:normal;
	font-size:10pt;
	margin-left:10px;
	display:inline-block;
	white-space:normal;
	max-width:500px;
	vertical-align:top;
	margin-top:1px;
}
.option {
	white-space:nowrap;
	display:block;
	margin: 8px 0;
}
.option > * {
	vertical-align:middle;
	text-align:left;
}
DIV[data-gif] {
	height:50px;
	width:70px;
	display:inline-block;
	border:1px solid #ccc;
	border-radius:6px;
	background:url("icons/play-button.svg") no-repeat center center;
	background-size:30px;
	background-color: #ececec;
}
#helpTab .header1.help {
	font-size:11pt;
	font-weight:bold;
	margin:0;
	padding:0 2px 4px 0;
	color: #444;
}
.yes, .no, .add {
	display:inline-block;
	border-radius:50%;
	background-color:#41ad49;
	padding:2px;
	height:20px;
	width:20px;
	margin-left:20px;
	opacity:1;
	transition:opacity 2s ease-out 1s;
}
.yes::before, .no::before, .add::before {
	content: "";
	background-image:url("icons/checkmark.svg");
	background-size:contain;
	width:100%;
	height:100%;
	filter:invert(1);
	display:inline-block;
}
.no {
	background-color: red;
}
.no::before {
	background-image:url("icons/crossmark.svg");
}
.add {
	background-color: green;
}
.add::before {
	background-image: url("icons/add.svg");
}
SECTION {
	border:1px solid var(--border-color1);
	border-radius:10px;
	padding:28px 16px 16px 16px;
	margin-top:24px;
	background-color:var(--bg-color2);
	position:relative;
}
#advancedSettingsTable {
	width: 100%;
	font-size: 10pt;
	font-weight: normal;
}
#advancedSettingsTable TR:nth-child(even) {
	background-color:var(--bg-color1);
}
#advancedSettingsTable INPUT {
	border:none;
	background-color:transparent;
	color:var(--color);
}
#advancedSettingsTable TR > TD:nth-child(1) {
	width:99%;
}
#advancedSettingsTable TR:hover {
	background-color:#ddd;
}
#advancedSettingsTable TD {
	white-space: nowrap;
}
#folderFormTable {
	width:100%;
}
#folderFormTable TD {
	padding:5px 20px;
	white-space: nowrap;
}	
#folderFormTable TD:nth-child(2) {
	width:100%;
}
#folderFormTable INPUT {
	display:inline-block !important;
}
#saveNoticeDiv {
	position:fixed;
	/*right: 10px;*/
	left:50%;
	top: 10px;
	z-index:9999;
	vertical-align: middle;
}
#pageTilesTable {
	/*border-collapse: collapse;*/
	border-spacing:4px;
	border-collapse: separate;
}
#pageTilesTable TD {
	background-color:#888;
	/*var(--color);*/
	/*border:1px solid var(--color);*/
	padding: 8px;
	border-radius:4px;
}
#pageTilesTable IMG {
	width:24px;
	height:24px;
	vertical-align: middle;
}
.folderBrowser {
	user-select: none;
	display:inline-block;
	vertical-align:middle;
/*		margin-right:30px;
	margin-bottom:30px;*/
	list-style-type:none;
	font-size:12px;
	font-weight:initial;
	height:300px;
	width:200px;
	overflow-y:scroll;
	overflow-x:hidden;
	resize:both;
	padding:16px;
	background-color:var(--bg-color2);
	border-radius:10px;
	white-space: nowrap;
}
.folderBrowser LI, .folderBrowser UI {
	list-style-type:none;
	position:relative;
}
.folderBrowser UL {
	padding-left:16px;
}
.folderBrowser LI {
	padding:1px;
	border-bottom:2px solid var(--bg-color1);
}
/*			.folderBrowser LI:hover {
	background-color:var(--selected);
}*/
.folderBrowser IMG {
	height:16px;
	vertical-align:middle;
}
.folderBrowser SPAN, .collapse {
	position:absolute;
	left:-14px;
	border:1px solid var(--border-color2);
	border-radius:4px;
	width:10px;
	height:10px;
	text-align:center;
	display:inline-block;
	line-height:10px;
	color:var(--color);
	background-color:var(--bg-color1);
	top:2.5px;
	user-select: none;
}
.promptForImage {
	display:inline-block;
	width:400px;
	height:200px;
	padding:50px;
	background-color:#f7f7f7;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 4px 16px 2px rgba(0,0,0,.25);
	text-align:left;
}
.promptForImage INPUT {
	width:200px;
}
#console {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:9999;
	text-align:center;
	height:auto;
}
.faviconPickerBox {
	height:64px;
	width:64px;
	background-color:var(--bg-color1);
	border:2px solid var(--border-color1);
	display:inline-block;
	position:relative;
	vertical-align: middle;
	margin:4px;
	padding-bottom:10px;
	cursor:pointer;
	text-align:center;
	transition:background-color .25s;
}
.faviconPickerBox:hover {
	background-color:var(--hover1);
}
.faviconPickerBox IMG {
	max-height:48px;
	max-width:48px;
	vertical-align:middle;
	position:relative;
	top:50%;
	transform: translateY(-50%);
	transition: opacity .05s;
}
#faviconPickerContainer {
	padding:20px;
	text-align:center;
	background-color:var(--bg-color2);
	max-width:430px;
	min-width: 200px;
	min-height: 100px;
	max-height: 80%;
	overflow-y: auto;
}
.faviconPickerBox DIV {
	position:absolute;
	bottom:0;
	font-size:8pt;
	z-index:2;
	width:100%;
	transition: opacity .05s;
}
.faviconPickerBox.current {
	border-color:var(--selected);
}
/*.faviconPickerBox.upload:hover {
	background:#555 url(icons/upload.svg) no-repeat center;
	background-size: 50%;
}*/
.faviconPickerBox.upload:hover {
/*				filter:blur(1px);*/
	background: var(--hover1);
}
/*.faviconPickerBox.upload:hover IMG {
	opacity:0;
}
.faviconPickerBox.upload:hover DIV {
	opacity:0;
}*/
[name="faviconBox"] LABEL {
	cursor:pointer;
	width:100%;
	height:100%;
	z-index:3;
	position:absolute;
	left:0;
	top:0;
}
.textShadow {
	text-shadow:
		-.5px -.5px 0 #000,  
		.5px -.5px 0 #000,
		-.5px .5px 0 #000,
		.5px .5px 0 #000;
}
.formModal {
	overflow-y: auto;
	max-height: calc(100% - 90px);
	resize: both;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
	height: auto;
	box-shadow:4px 4px 20px #0005;
	z-index: 2;
	background-color: var(--bg-color2);
	border-radius: 10px;
	margin: 20px;
	transition: blur .5s;
	border:2px solid var(--border-color2);
}
#floatingEditFormContainer {
	width: 500px;
}

.blur {
	filter:blur(1px);
	pointer-events: none;
}

.changed {
	background-color:var(--cs-green);
	color:white;
}
.overDiv {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color:#0004;
	z-index:9999;
	transition:opacity .5s;
}
.editForm .saveMessage {
	position:absolute;
	bottom:4px;
	right:40px;
}
.tool {
	background:var(--tools-color);
	display:inline-block;
	width:20px;
	height:20px;
	mask-position:center;
	mask-size:contain;
	mask-image:var(--mask-image);
	mask-repeat:no-repeat;
	-webkit-mask-position:center;
	-webkit-mask-size:contain;
	-webkit-mask-image:var(--mask-image);
	-webkit-mask-repeat:no-repeat;
}

.tool.menuIcon {
	vertical-align: middle;
	margin-right: 8px;
	height: 1em;
}

#shortcutTable TR:nth-child(even) {
	background-color:var(--bg-color1);
}
#shortcutTable TD {
	white-space:nowrap;
}
#shortcutTable TD:nth-of-type(1) {
	width:0;
}
#shortcutTable TD > SPAN {
	display:inline-block;
	padding:2px 6px;
}
#shortcutTable TD > SPAN:hover {
	background-color:#0001;
}
.iconForm IMG, .iconForm .iconCustom {
	height: 32px;
	width: 32px;
	vertical-align: middle;
	margin: 0 10px;
	cursor: pointer;
}
.iconForm > DIV {
	display: inline-block;
	background-color: var(--bg-color1);
	padding: 10px 20px;
	border-radius: 10px;
	margin: 10px;
}
.iconForm .iconCustom {
	display: inline-block;
	box-sizing: border-box;
	border: 2px dashed var(--border-color2);
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
}
.iconForm .iconCustom:hover {
	background-image: url(icons/upload.svg) !important;
	background-size: 66%;
	background-color: #444;
}

.editForm .contexts {
	display: flex;
	flex-flow:column;
	padding:6px 0;
/*				width:fit-content;*/
	width: calc(100% - 10px);
}

.editForm .contexts LABEL {
	display: inline;
	border-radius: 4px;
	padding: 2px 8px;
	background-color: var(--bg-color1);
	margin: 2px;
	display: inline-block;
	font-size: 7pt;
	white-space: nowrap;
	flex-grow:1;
}

.editForm .contexts INPUT {
	display: initial;
	width: initial;
	margin: initial;
	margin-right: 10px;
	width: 8px;
	height: 8px;
}

.editForm .contexts INPUT, .editForm .contexts LABEL {
	/*display: none;*/
}
.contextIcons {
	display: inline-block;
	right: 114px;
	top:0;
	position:absolute;
}
.contextIcon {
	height: 1em;
	margin: 0;
	cursor: pointer;
	/*--tools-color: var(--selected);*/
}

.contextIcon.disabled {
	opacity: .2;
	/*--tools-color: unset;*/
}

#t_manualEdit {
	overflow: scroll;
	font-weight: normal;
	font-size: 9pt;
	resize: both;
}
#t_manualEdit .string { color: green; }
#t_manualEdit .number { color: darkorange; }
#t_manualEdit .boolean { color: blue; }
#t_manualEdit .null { color: magenta; }
#t_manualEdit .key { color: maroon; }

.selectCheckbox { 
	display: none;
}
.showCheckboxes .selectCheckbox {
	vertical-align:middle; 
	margin-right:4px;
	height:12px;
	display: initial;
}
#requestPermissions LABEL {
	font-family: monospace;
	margin-left:20px;
}
#requestPermissions BUTTON {
	background-color: var(--cs-green);
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding: 2px 16px;
	border: 2px outset #888;
	margin-bottom: 2px;
}
#requestPermissions DIV[data-permission] {
	 margin-top:4px;
}
#menuContexts .option {
	display: inline-block;
	border-radius: 10px;
	vertical-align: middle;
	text-align: center;
	margin: 4px;
	padding: 2px 12px;
	background-color: var(--bg-color1);
}
#additionalSearchActionsTable .template {
	display: none;
}
#additionalSearchActionsTable TD {
	padding: 0 2px;
	font-size: 9pt;
}
#additionalSearchActionsTable INPUT, #additionalSearchActionsTable SELECT {
	width: auto;
}
.contextualLayoutIcons {
	background-color: var(--bg-color3);
	border: 1px solid var(--border-color1);
	border-radius: 10px;
	display: inline-block;
	padding: 2px 10px;
	margin-left: 10px;
	pointer-events: none;
	vertical-align: middle;
}
.contextualLayoutIcons .tool {
	height: 16px;
	vertical-align: middle;
}
#quickMenuLayoutEditor {
	display: inline-block;
	width: 150px;
	border-radius: 10px;
	background-color: var(--bg-color3);
}
#quickMenuLayoutEditor > DIV {
	background-color: var(--bg-color3);
	border: 1px solid var(--border-color1);
	/*border-radius: 10px;*/
	/*display: inline-block;*/
	padding: 2px 10px;
	pointer-events: none;
	vertical-align: middle;
	height: 16px;
	text-align: center;
}
#quickMenuLayoutEditor .tool {
	height: 12px;
	width: 12px;
	margin: 0;
	vertical-align: middle;
}

.modal {
	background-color: var(--bg-color1);
	border-radius: 10px;
	padding: 20px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow:4px 4px 20px #0005;
	border: 1px solid var(--border-color1);
	text-align: center;
}
.modal.hide {
	display: none;
}
.modal BUTTON {
	width: 100px;
}

.modal [name^="nodes"] {
	display: inline-block;
}

FIREFOX-ICON::before {
	content: "FF";
	background-color:rgb(234, 172, 92);
	color:white;
	border-radius:4px;
	font-size:7pt;
	font-weight:bold;
	margin-left:5px;
	padding:1px 5px;
	vertical-align:middle;
}
BETA::before {
	background-image: url('/icons/alert.svg');
	background-size: 1em;
	display: inline-block;
	width:  1em;
	height: 1em;
	content:"";
}

.separator {
	display:inline-block;
	width:200px;
	height:3px;
	border-radius:2px;
	background-color:var(--color);
}

#searchEnginesManagerSearch:focus {
	border-color: unset !important;
	box-shadow: unset !important;
}

:focus {outline: none;}

#b_nightMode {
	position:fixed;
	top:4px;
	right:4px;
	height:24px;
	z-index:10000;
	opacity: .3;
	transition: opacity .25s;
}

#b_nightMode:hover {
	opacity:1;
}

INPUT::placeholder {
	font-style:italic;
}
#filterBarContainer {
	display:flex;
	flex-direction:row;
	/* justify-content:flex-end; */
	margin-left:22px;
	overflow:hidden;
	position:absolute;
	width:calc(100% - 40px);
}

#searchEnginesManagerSearch {
	font-size:8pt;
	/* flex-grow:2; */
	border:none;
	padding:2px;
	/* width:auto */
	width:100%;
	transition: width .15s;
}

#filterBarContainer.hide > #searchEnginesManagerSearch {
	width:0;
	padding:0;
}

#filterBarContainer.hide > #searchEnginesManagerSearchClearButton {
	display:none;
}

.editForm .tabcontent {
	font-weight:normal;
}

.formNavBar {
	margin-bottom:20px;
	background-color: var(--bg-color3);
	font-size:0;
	display:flex;
	text-align: right;
}

.formNavBar button {
	border:none;
	flex-grow:1;
	border-radius:0;
	padding:4px 16px;
	letter-spacing: .075em;
	margin:0;
	/*border-left: 1px solid var(--border-color1);
	border-right: 1px solid var(--border-color1);*/
}

.formNavBar .active {
	background-color:var(--cs-green);
	color:white;
}

.formNavBar .hide {
	visibility: hidden;
	pointer-events:none;
}

.formFooter {
/*				display: flex;*/
	text-align:right;
	background-color: var(--bg-color3);
	font-size:0;
	margin-top:8px;
	position:fixed;
	bottom:0;
	width:100%;
}

.formFooter button {
/*				flex-grow:1;*/
	border-radius:0;
	border:none;
	padding:6px 8px;
	letter-spacing: .125em;
	font-size:8pt;
}

.editForm {
	padding-bottom:24px;
}

.editForm .hotkey {
	font-size:bigger;
	padding:4px 8px;
	background-color: var(--bg-color1);
	user-select: none;
}

#iconURI .big {
	padding:8px;
	cursor:pointer;
	width:100px;
	height:100px;
/*				border:2px dashed var(--border-color1);*/
	background-color: var(--bg-color1);
	border-radius:4px;
	transition:background-color .25s;
}

#iconURI .big tool {
	width:20px;
	vertical-align:middle;
	margin:0 16px;
	pointer-events: none;
}

#iconURI .big:hover {
	background-color:var(--hover1);
}

#managerContainer .header > IMG.tool{
	background-color:#ccc;
	border-radius:2px;
	padding: 1px;
	width:12px;
	height:12px;
}

.colorPickerTable input {
	display:none;
}

.colorPickerTable label[for] {
	height:20px;
	width:20px;
	display:inline-block;
	background-color:red;
}

.defaultEngineMarker {
	color:gold;
	padding:0 8px 0 2px;
}