:root {
	--pagetile-icon-max-size: 64px;
}
BODY {
	background-color:transparent;
/*	--cs-pagetile-height:calc(100% / var(--cs-pagetilerows) - 4px);
	--cs-pagetile-width:calc(100% / var(--cs-pagetilecols) - 4px);*/
	transform: scale(.95);
}

.pageTilesContainer {
	line-height:0;
	direction: ltr;
	transition: opacity .15s;
	opacity:0;
}
.pageTilesContainer.speedDial {
	right: initial;
	bottom: initial;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.pageTilesContainer.speedDial .pageTile {
	width: 100px;
	height: 100px;
}
.pageTilesContainer.speedDial .pageTile.empty {
	opacity: 1;
	background-color: red;
}
.pageTile {
	border-collapse: collapse;
	display:inline-block;
	font-size:18pt;
	text-align:center;
	width: calc(100vw / var(--cs-pagetilecols) - 2px);
	height: calc(100vh / var(--cs-pagetilerows) - 2px);
	line-height:normal;
	overflow:hidden;
	font-family:Arial;
	opacity:.95;
	position: relative;
	margin:1px;
	background-color:var(--tile-color);
	background: linear-gradient(160deg, var(--tile-color), gray);
}
.pageTile:hover {
	opacity:1;
/*	background: var(--tile-color);*/
}
.pageTile.empty {
	opacity:.1;
	background: var(--tile-color);
}
.pageTile.dragover:not(.empty) {
/*	transition: var(--user-transition, background-color .5s);*/
/*	background-color:var(--hover);*/
/*	background: var(--tile-color);*/
}
.pageTile IMG {
	display:inline-block;
	width: min(var(--pagetile-icon-max-size), calc(100% - 20px));
	max-width: min(var(--pagetile-icon-max-size), calc(100% - 20px));
	top: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	left: 50%;
	pointer-events: none;
}
.pageTile DIV {
	padding: 0 10px;
	width: calc(100% - 20px);
	pointer-events: none;
	border-collapse: collapse;
	font-size: calc(100vw / var(--cs-pagetilecols) / 10); /* set font size based on width */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
	position: absolute;
	bottom:8px;
	pointer-events: none;
}
.pageTile.dragover DIV {
	pointer-events: none;
	background-color:inherit;
	transition: var(--user-transition, filter .1s, background-color .5s);
}
.pageTile.empty IMG {
	display:none;
}
