.selectedFocus {
	background-color: #0078d7 !important;
	position:relative;
	color:white !important;
}
/* .selectedFocus[data-type="tool"] IMG { */
	/* filter: brightness(0) invert(1); */
/* } */
.selectedNoFocus {
	background-color: #b0b0b0 !important;
}

#quickMenuElement {
	z-index:1;
/*	border-radius:10px;*/
	background-color: #eff0f1;
	overflow:hidden;
}

#quickMenuElement DIV, #quickMenuElement INPUT {
	width:32px;
	height:32px;
	border:1px solid #e0e0e0;
	padding:0;
	margin:0;
	display:inline-block;
/*	background-color:#eff0f1; */
	background-size: 16px 16px;
	background-position: center center;
	background-repeat: no-repeat;
	transition: background-size .25s ease-in-out, background-color .25s ease-out, border-color .25s ease-out;
}
#quickMenuElement DIV:hover, .hover:hover {
	background-color: #ccdbe8;
	border-color: #ccdbe8;
}

#quickMenuElement, #quickMenuElement DIV {
	box-sizing: content-box;
	display:inline-block;
	font-size:0;
	line-height:0;
	vertical-align:top;
	user-select: none; 
	-moz-user-select: none;
	overflow:hidden;
	white-space: nowrap;
}
#quickMenuElement DIV .folderLabel {
	font-size:7pt;
	line-height:1em;
	padding:1px;
	font-family:Arial;
	font-weight:bold;
/*	color: white;*/
/*	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;*/
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	height:30px;
	overflow:hidden;
	white-space:normal;
	text-align:center;
	width:30px;
}
#quickMenuElement DIV[data-type="folder"] {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	font-weight: normal;
	color:#444;
	background-color:#FBFACE;
	position:relative;
}
#quickMenuElement DIV[data-type="folder"]:hover {
	background-color: #ccdbe8;
	border-color: #ccdbe8;
}
.folderTileCorner {
	position:absolute;
	right:0;
	top:0;
	width:0 !important;
	height:0 !important;
	border-style: solid !important;
	border-width: 0 12px 12px 0 !important;
	border-color: transparent #6ec179 transparent transparent !important;
	background-color:transparent !important;
	overflow:hidden;
}
#quickMenuSearchBarContainer {
	background-color:white;
	white-space: nowrap;
}
#quickmenusearchbar {
	width:calc(100% - 40px);
	padding:0 10px 0 0;
	height:28px;
	margin:0;
	text-align:left;
	border:none;
	color:#4a4a4a;
	background-color:white;
}
#quickmenusearchbar:focus {

}
#suggestions {
	height:100px;
	width:312px;
	background-color:white;
	white-space: nowrap;
	overflow-x:hidden;
	overflow-y:auto;
	border:1px solid #ccc;
	border-width: 1px 0;
	transition:max-height .25s ease-in-out;
	max-height:0;
}
#suggestions DIV {
	background-color:white;
	padding-left: 5px;
	font-weight:200;
	font-family: Arial;
	font-size:11pt;
	cursor:default;
	-moz-user-select: none;
}
#suggestions DIV:hover {
	background-color: #ccdbe8;
}

#searchEngineTitle {
	height:24px;
	padding-left:10px;
	overflow:hidden;
	vertical-align:middle;
	line-height:24px;
	color:#4a4a4a;
	font-family:Arial;
	font-size:10pt;
}

.singleColumn {
	width:300px !important;
	height:20px !important;
	font-size:11pt !important;
	border:none !important;
	font-family:Arial !important;
	line-height:20px !important;
	vertical-align:middle !important;
	background-position:4px 2px !important;
	background-size:16px !important;
}
