BODY {
	overflow:hidden;
	padding:0;
	margin:0;
	background-color:#eff0f1;
}
.selectedFocus {
	background-color: #0078d7 !important;
	position:relative;
	color:white !important;
}
.selectedNoFocus {
	background-color: #b0b0b0 !important;
}
.tile {
	width:32px;
	height:32px;
	border:1px solid #e0e0e0;
	padding:0;
	margin:0;
	display:inline-block;
	background-size: 16px;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-size .25s ease-in-out, background-color .25s ease-out, border-color .25s ease-out;
	position:relative;
}
#optionsButton {
	background: url(/icons/settings.png) no-repeat center;
	background-size:16px;
	height:32px;
	width:100%;
	border-top:1px solid #e0e0e0;
}
#quickMenuElement, .tile {
	/* box-sizing: content-box; */
	display:inline-block;
	font-size:0;
	line-height:0;
	vertical-align:top;
	user-select: none; 
	-moz-user-select: none;
	overflow:hidden;
	white-space: nowrap;
}
#quickMenuElement {
	z-index:1;
	overflow-y:auto;
}
.tile[data-type="folder"]:not(.singleColumn)::before {
	content:attr(data-title);
	font-size:7pt;
	line-height:1em;
	padding:1px;
	font-family:Arial;
	font-weight:bold;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	height:100%;
	overflow:hidden;
	white-space:normal;
	text-align:center;
	width:100%;
	position:absolute;
	top: calc(50% - 6px);
}
.tile[data-type="folder"] {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	font-weight: normal;
	color:#444;
	background-color:#FBFACE;
	position:relative;
}
.tile:hover, #optionsButton:hover /*, .dragHover , .tile[data-type="folder"].dragHover*/ {
	background-color: #ccdbe8;
	border-color: #ccdbe8;
}
.dragHover:not([data-side]) {
	background-color:#0078d7;
	color:white;
}
.dragHover * {
	pointer-events:none;
}
.dragHover.singleColumn[data-side="before"] {
	border-top:1px solid #0078d7;
}
.dragHover.singleColumn[data-side="after"] {
	border-bottom:1px solid #0078d7;
}
#arrow {
	pointer-events:none;
	position:absolute;
	top:0;
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent; 
	border-top: 12px solid #6ec179;
	z-index:2;
}
#arrow[data-side="before"] {
	left: calc( var(--target-left) - 12px);
}
#arrow[data-side="after"] {
	left: calc( var(--target-left) + var(--target-width) - 12px);
}
#arrow[data-side="before"].singleColumn {
	top: calc( var(--target-top) - 6px);
}
#arrow[data-side="after"].singleColumn {
	top: calc( var(--target-top) + var(--target-height) - 6px);
}
#arrow[data-side="middle"] {
	display:none;
}
#arrow.singleColumn {
	transform: rotate(-90deg);
	left:-6px;
	border-top-color:#0078d7;
}
.tile[data-type="folder"][data-side="middle"].dragHover {
	background-color:#0078d7;
	color:white;
}
#quickMenuSearchBarContainer IMG {
	height:18px;
	vertical-align:middle;
	padding:4px;
	opacity:.5;
	position:absolute;
}
#quickMenuSearchBar {
	width:calc(100% - 48px);
	padding:0 24px;
	height:28px;
	margin:0;
	text-align:left;
	border:none;
	color:#4a4a4a;
	background-color:white;
}
#suggestions {
	height:100px;
	background-color:white;
	white-space: nowrap;
	overflow-x:hidden;
	overflow-y:auto;
	border:1px solid #ccc;
	border-width: 1px 0;
	transition:max-height .25s ease-in-out;
	max-height:0;
}
#suggestions > DIV {
	background-color:white;
	padding-left: 5px;
	font-weight:200;
	font-family: Arial;
	font-size:11pt;
	cursor:default;
	user-select:none;
	-moz-user-select: none;
}
#suggestions > DIV:hover {
	background-color: #ccdbe8;
}
#searchEngineTitle {
	height:24px;
	padding-left:10px;
	overflow:hidden;
	vertical-align:middle;
	line-height:24px;
	color:#4a4a4a;
	font-family:Arial;
	font-size:10pt;
	background-color:inherit;
}
.tile.singleColumn {
	width:300px;
	height:20px;
	font-size:11pt;
	border:none;
	font-family:Arial;
	line-height:20px;
	vertical-align:middle;
	background-position:4px 2px;
	background-size:16px !important;
}
.tile.singleColumn::before {
	content: attr(data-title);
	margin-left:24px;
}
.tile.singleColumn[data-type="separator"] {
	height:2px;
	maxHeight:2px;
	margin:4px 0;
	overflow:hidden;
	background-color:#ddd;
	border:none;
	display:block;
}